body {
    background-color: white;
    font-family: sans-serif;
    text-decoration: black;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#bandmembers {
    font-style: italic;
}

#albumimage.img-circle {
    background-image: url("images/BeastieBoysHelloNasty.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;

}

a:link {
    text-decoration: none;
    
}

a:hover {
    background-color: yellow;
    text-decoration: underline;
    
}

table {
    background-color: #ffcc80;
}

table td {
    font-style: italic;
}

