h1 { 
    font-family: 'Times New Roman', Times, serif;
    color: #330033;
    text-align: center;
}


form label {
    font-weight: bold;
}

#footer {
    background-color: #ffb3b3;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.carousel-inner > .item > img {
  width:150px;
  height:100px;
}

.carousel-caption {
    color: black;
}


thead {
    height: 50px;
    font-size: 16px;
    text-align: center;  
}

th {
    height: 50px;
    font-size: 14px;
    text-align: center;
}

td {
    height: 50px;
    font-size: 14px;
    text-align: center;
}

