h1 { 
    font-family: 'Times New Roman', Times, serif;
    color: #330033;
    text-align: center;
}

form label {
    font-weight: bold;
}

nav > a:visited {
    color: hotpink;
}

nav > a:hover {
    font-weight: bold;
}

nav > a:active {
    text-decoration: none;
}

#footer {
    background-color: #ffb3b3;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

th {
    height: 50px;
    width: 500px;
    font-size: 20px;
    
}

td {
    padding: 10px;
}